

@{
    ViewBag.Title = "Class Is Parent";
}

<h2>Error!</h2>

@ViewBag.errorNo

<div id="errorMessage" class="alert alert-danger" role="alert">
    This class is a parent class. Please remove all its children before edinting or removing it.@ViewBag.errorNo
</div>
